@import "bootstrap/functions";
@import "custom/functions";

@import "custom/variables";
@import "bootstrap/variables";

@import "bootstrap/mixins";
@import "custom/mixins";

// Bootstrap components

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Custom components

@import "custom/reboot.scss";
@import "custom/global.scss";
@import "custom/utilities.scss";

@import "custom/accordion.scss";
@import "custom/alerts.scss";
@import "custom/avatars.scss";
@import "custom/badge.scss";
@import "custom/buttons.scss";
@import "custom/card.scss";
@import "custom/carousel.scss";
@import "custom/close.scss";
@import "custom/custom-forms.scss";
@import "custom/dropdown.scss";
@import "custom/footer.scss";
@import "custom/forms.scss";
@import "custom/grid.scss";
@import "custom/icons.scss";
@import "custom/input-group.scss";
@import "custom/list-group.scss";
@import "custom/modal.scss";
@import "custom/nav.scss";
@import "custom/navbar.scss";
@import "custom/pagination.scss";
@import "custom/popover.scss";
@import "custom/progress.scss";
@import "custom/section.scss";
@import "custom/type.scss";

// Vendor

@import "custom/vendor/bootstrap-datepicker.scss";
@import "custom/vendor/headroom.scss";
@import "custom/vendor/nouislider.scss";

.navbar {
  background: #FFFFFF;
  position: fixed;
  border-bottom: 1px solid #F9F9F9;
  padding-left: 2rem;
  padding-right: 2rem; 
}

.navbar-transparent .navbar-nav .nav-link {
  color: #282425;
  font-weight: 500;
  font-size: .9rem; 
}

.navbar-transparent .navbar-nav .nav-link:hover, .navbar-transparent .navbar-nav .nav-link:focus {
  color: #00AED9; 
}

.navbar-brand img {
  height: 30px; 
}

#home {
	background: #FFFFFF;
	// height: 100vh;
	padding:0 2rem;

	.row {
		height: 100vh;
	}

	#left {
		background:#FFFFFF;

		.left-wrap{

			h2 {
				color: #00AED9;
				font-size: 1.6em;
				font-weight: 500;
			}

			p {
				color: #86878A;
				font-size: 1.2em;
			}

			.action {
				color:#282425;
				font-weight:400;

				span {

					img {
						width: 20px;
						margin-left: 20px;
					}
				}
			}

			img {
				width:300px;
			}

		}
	}

	#right {
		background:#FFFFFF;
		// height: 100vh;
		padding: 100px 0 0;

		img {
			width: 500px;
		}

		p {
			color: #282425;
			font-size: .9em;
			margin-top: 20px;
			font-weight: 500;
		}

		.goals {
			width: 100%;
			// border:1px solid #000;
			.goal-wrap {
				width: 100px;
				height: 100px;
				display: inline-block;
				overflow: hidden;
				margin:0 2px 2px;

				img {
					width: 100px;
				}
			}
		}
	}
}

#goal {
	padding: 86px 0 0;

	#left {
		height: 100%;
		min-height: 1035px;
		background-color: #000;
		background:url('../img/bg.png')no-repeat center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;

	  	.left-wrap {
	  		padding:70px 25px 50px 2rem;
	  		span img {
	  			float: right;
	  			margin-top: 24px;
	  		}

	  		h2 {
		  		color: #FFFFFF;
		  		font-size:1.2rem;
		  		margin-top: 25px;
		  	}

		  	p {
		  		color: #FFFFFF;
		  		font-size: .9rem;
		  		font-weight: 300;
		  	}
	  	}

	}

	#right {
		background:#FFFFFF;
		height: 100%;

		.progress-label span {
	        display: inline-block;
	        color: #8898aa;
	        font-size: .8rem;
	        font-weight: 600;
	        background: transparent;
	        text-transform: none;
	        padding-left: 0; 
	    }
      	.progress {
	        height: 30px;
	        border-radius: 50px;
	        margin-bottom: 40px; 
	    }
      	.progress .bg-success {
          	background: #3EB049 !important; 
      	}

		.right-wrap {
			padding:30px 2rem 50px 1rem;

			// .tracker-bar {
			// 	width: 100%;
			// 	border:1px solid #eee;
			// 	border-radius:50px;
			// 	height: 35px;
			// 	margin-bottom: 40px;

			// 	.progress {
			// 		c
			// 		width: 67%;
			// 		border-radius:50px;
			// 		height: 34px;
			// 	}
			// }

			.btn-group {
				width: 100%;

				button {
					width: 100%;
					text-align: left;
				}
			}

			.progress-label span {
			    display: inline-block;
			    color: #8898aa;
			    font-size: .8rem;
			    font-weight: 600;
			    background: transparent; 
			    text-transform: none;
			    padding-left: 0;
			}

			.progress {
			    height: 30px;
			    border-radius: 50px;
			    margin-bottom: 40px;

			    .bg-success {
			    	background:#3EB049!important;
			    }
			}

			h2 {
				font-size: 1.2rem;
				margin-bottom: 20px;
			}

			.tabs-optn {

				.nav-link {
					padding:1.3rem 1.2rem;
				}

				.nav-link.active {
					font-weight: 600;
					border:none;
					border-bottom: 2px solid #00AED9;
				}

				.nav-link:hover {
					border:none;
					color: #525f7f;
				}

				.tab-content {
					padding: 2rem 0 1rem;

					p {
						font-size:.9rem;
						color: #86878A;
						font-weight: 400;
					}
				}

				.nav-item .view-btn {
					background:#F8F8F8;
					border:1px solid #F9F9F9;
					text-transform: none;
					color:#26ABE2;
					font-size:1rem;
					box-shadow: none;
					padding: 0.5rem 0.5rem;
					margin-top: 10px;
					font-weight: 500;

					span img{
						width: 15px;
						margin-right: 10px;
					}
				}
			}
		}
	}
}

footer {
	padding:20px 0;
	background:#f9f9f9;
	padding:20px 2rem;

    h2 {
    	font-size:1.2rem;
    }

    p {
    	margin: 0!important;
    	padding: 0!important;
    	color: #282425;
    	font-size: .8rem;
    	font-weight: 400;
    }

    ul {
    	padding-left:0;
    	float: right;
    	margin-bottom: 0;

    	li {
    		list-style: none;
    		display: inline-block;
    		padding:0 0 0 1rem;
    		font-weight: 400;

    		a {
    			color: #282425;
    			font-size: .8rem;
    		}:hover {
    			color: #00AED9;
    		}
    	}
    }
}


#tracker-page {
  padding: 136px 0 50px; }

#trackerpg .navbar {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  display: flex !important;
  width: 100%;
  align-items: stretch; }

#sidebar {
  padding-top: 100px;
  padding-left: 1.5rem;
  padding-right: 1rem;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  background: #FFFFFF;
  color: #fff;
  transition: all 0.3s; }

#sidebar .view-btn {
  background: transparent;
  border: 1px solid transparent;
  text-transform: none;
  color: #26ABE2;
  font-size: 1rem;
  box-shadow: none;
  padding: 0.5rem 0.5rem;
  font-weight: 500;
}

#sidebar .view-btn span img {
  width: 15px;
  margin-right: 10px; 
}

#sidebar.active {
  margin-left: -300px; }

#content {
  padding-top: 120px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 300px;
  background:#F9F9F9;
  min-height: 100vh;
  width: 100%; 
}

.target-wrap {
	width: 100%;
}

.tracker-details {
 
	.view-btn {
	  background: #FFFFFF;
	  border: 1px solid #FFFFFF;
	  text-transform: none;
	  color: #26ABE2;
	  font-size: 1rem;
	  box-shadow: none;
	  padding: 0.5rem 0.5rem;
	  font-weight: 500;
	}

	.view-btn span img {
	  width: 15px;
	  margin-right: 10px; 
	}

	h2 {
	  font-size: 1.3em;
	}

	h2 span {
	  float: right;
	} 
}

.tracker-card {
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 30px;

	.progress-wrapper {
	    position: relative;
	    padding: 1rem;
	    margin-top: 20px;
	    margin-bottom: 25px;
	    border: 1px solid #F9F9F9;
	    background:#F9F9F9;
	    border-radius: 3px;
	}

	.progress-label span {
	    display: inline-block;
	    color: #8898aa;
	    font-size: .8rem;
	    font-weight: 600;
	    background: transparent;
	    text-transform: none;
	    padding-left: 0;
    }

  	.progress {
        height: 30px;
        // border-radius: 50px;
        margin-bottom: 20px; 
    }

  	.progress .bg-success {
      	background: #3EB049 !important; 
  	}

  	h3 {
	  font-size: 1rem;
	  margin: 0;
	}
}

.goal-menu {
  font-size: 1.2rem;
}

.goal-menu li a{
  font-size: 1rem!important;
}

.goal-menu li a:hover{
  color: #00AED9!important;
}

.goal-menu .dropdown-menu{
  width: 100%;
  height: 600px;
  overflow-y: scroll;
}

.goal-menu .dropdown-menu span {
  font-size: .8rem!important;
}

.menu-icon {
  width: 45px;
  margin-right: 25px;
  float: left;
}


@media (max-width: 768px) {
	.navbar {
	    padding-left: 1.5rem;
	    padding-right: 1.5rem;
	}
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #home {
	    padding: 100px 0 0;
	    height: 100%;

	    .row {
	    	height: 100%;
	    }
	}

    #home #left .left-wrap {
	    padding: 0 .5rem;
	}

	#home #left .left-wrap p {
	    color: #86878A;
	    font-size: 1.2em;

	    br {
	    	display: none;
	    }
	}

	.navbar-brand img {
	    height: 25px;
	}

	#home #right {
	     height: auto;
	     padding:20px 15px;

	     img {
	     	width: 300px;
	     	margin-bottom: 3rem;
	     }
	}

	footer {
	    padding-left: .5rem;
	    padding-right: .5rem;

	    ul {
	    	display: none;
	    }

	    p {
	    	text-align: center;
	    }
	}
}

